.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  min-width: 240px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.avatar {
  border-radius: 6px;
}

.status {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.online {
  composes: status;
  background-color: #4daf4e;
}

.offline {
  composes: status;
  background-color: #ff0000;
}

.name {
  font-size: 22px;
  font-weight: 500;
}
